# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
time-table/.DS_Store
time-table/.env.local
time-table/.env.development.local
time-table/.env.test.local
time-table/.env.production.local


time-table/npm-debug.log*
time-table/yarn-debug.log*
time-table/yarn-error.log*

/fullcalendar-5.0.1